<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>
<body>
    <form action="#" th:action="@{/insert}" th:object="${person}" method="post">
        <p>Name:<input type="text" th:field="*{name}"></input></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

        <p>PPS:<input type="number" th:field="*{PPS}"></input></p>
        <p th:if="${#fields.hasErrors('PPS')}" th:errors="*{PPS}">Name Error</p>

        <p>Date of Birth:<input type="date" th:type="date" th:field="*{birthDate}"></input></p>
        <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Name Error</p>

        <p>Phone Number (optional): <input type="text" th:field="*{phoneNumber}"></input></p>
        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</p>

        <input type="submit"></input>
    </form>
</body>
</html>