<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/../css/bootstrap.min.css"/>
    <link th:href="@{/../css/style.css}" href="/../css/style.css"  rel="stylesheet" type="text/css"  />
    <script src="/../js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center"><i class="glyphicon glyphicon-list"></i>&nbsp;People List</h1>
    <div class="container">
        <div class="text-right">
            <a href="/" >Back to Index</a>
        </div>
        <table class="table" th:if="${#lists.size(persons)>0}">
           <thead>
            <tr>
                <th>Name</th>
                <th>PPS</th>
                <th>Birth Date</th>
                <th>Phone Number</th>
            </tr>
           </thead>
           <tbody>
            <tr th:each="person : ${persons}">
                <td  th:text="${person.name}"></td>
                <td  th:text="${person.PPS}"></td>
                <td  th:text="${person.birthDate}"></td>
                <td  th:text="${person.phoneNumber}"></td>
            </tr>
           </tbody>
        </table>
        <div class="alert alert-warning" th:if="${#lists.size(persons)==0}">
            No records added.
        </div>
    </div>
</body>
</html>